.message {
    display: grid;
    grid-template-columns: minmax(max-content, 40%) max-content;
    column-gap: 10px;
    grid-template-areas:
        't i';
    justify-content: flex-end;
    margin-right: 30%;
}

.image {
    width: 48px;
    height: 48px;
}

.imageAndText {
    grid-area: i;

}

.imageAndText img {}

.text {
    grid-area: t;
    display: grid;
    border-radius: 10px;
    background: #0066CC;
    padding: 10px;
}

.text:after {}

.name {
    color: #FFFFFF;
    justify-self: end;

}

.messageText {
    color: #FFFFFF;
    justify-self: end;

}

.time {
    text-align: center;
}