.input:focus {
    border: 1px solid #544aa3;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 400px;
    height: 30px;
}

.inputWrapper {}

.superInput {}

.errorInput {}

.errorInput:focus {}

.error {}