.App {
    display: grid;
    --header_height: 80px;
    background: #FFFFFF;
    height: 100vh;
    /* margin: 50px 50px 50px 50px; */
}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin: 20px 20px 20px 20px;
}

.hw1 {
    /* display: grid;
    grid-template-areas:
        'm'
        'f'
        's';
    grid-template-rows: 25% 25% 25%;
    grid-template-columns: 100%;
    grid-gap: 40px;
    margin: 50px; */
    /* row-gap: 320px; */

}




.hw2 {
    display: grid;
    grid-template-rows: 66% 34%;
    margin: 50px;
    /* row-gap: 320px; */

}