.friendMessage {
    display: grid;
    grid-template-columns: minmax(max-content) max-content;
    column-gap: 10px;
    grid-template-areas:
        'i t';
    justify-content: start;
    /* margin-left: 70%; */
}

.image {

    width: 48px;
    height: 48px;

}

.friendImageAndText {
    grid-area: i;
}

.friendImageAndText img {}

.friendText {
    grid-area: t;
    display: grid;
    border-radius: 10px;
    background: #f6f7f9;
    padding: 10px;
}

.friendText:after {}

.friendName {
    color: #0e0e0e;
    justify-self: start;
}

.friendMessageText {
    color: #0c0c0c;
    justify-self: start;
}

.friendTime {
    text-align: center;
}