.friendMessage {}

.image {}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    padding-left: 50px;
}

.friendImageAndText img {
    height: 70px;
}

.friendText {
    background-color: rgb(138, 244, 253);
    padding: 10px;
    color: white;
    text-align: left;
    margin-right: 20px;
    max-width: 40%;
    border-radius: 10px 10px 10px 0;
}

.friendText:after {}

.friendName {
    color: rgb(48, 47, 47);
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
}

.friendMessageText {
    color: rgb(48, 47, 47);
    font-size: 20px;
    line-height: 28px;
}

.friendTime {
    padding-left: 63px;
}