.greetingForm {
    margin-left: 50px;
}

.inputAndButtonContainer {
    display: inline-flex;
    gap: 20px;
}

.error {}

.input {}

.input:focus {}

.errorInput {}

.button {
    height: 26px;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.button:focus {}

.button:active {}

.button:disabled {}

.text {}

.greeting {}