.sendForm {
    display: flex;
    flex-direction: row;
    gap: 150px;
    align-items: center;
    justify-content: center;
}

.textarea {
    border-radius: 10px;
    width: 550px;
    height: 10px;
    resize: none;
    padding: 15px;
    overflow: hidden;
}

.button {
    border-radius: 10px;
    width: 90px;
    height: 25px;
}


.button:hover {}

.button:active {}