.sendForm {
    display: grid;
    /* row-gap: 50px; */
    grid-template-areas:
        't b b b b';
    padding: 50px;
}

.textarea {
    display: grid;
    grid-area: t;
    width: 800px;
    height: 60px !important;
    background: #F5F7FB;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
}

.button {
    display: grid;
    grid-area: b;
    /* margin-right: 250px; */
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}


.button:hover {}

.button:active {}